!!!
%html
  /[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  /[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
  /[if IE 8] <html class="no-js lt-ie9" lang="en">
  %head
    %title= full_title("Home")
    = stylesheet_link_tag    "request", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
      %meta{:content => "", :name => "description"}
        / Mobile viewport optimized: h5bp.com/viewport
        %meta{:content => "width=device-width", :name => "viewport"}
  %body{"data-action" => action_name, "data-controller" => controller_name}
    = render 'layouts/header'
    .start-page
      .explanation
        OpenUp NYC is the fast, simple way to requset these records
        from the correct NYC department. Pick which department to send your request
        to, fill in what you're looking for, and OpenUp NYC will contact the
        right person for you.
      .steps
        .easy Easy As
        .step
          1
        .step
          2
        .step
          3
      
    .get-started
      .total-requests 12,054 requests submitted. Yours is up next.
      .link
        .text Get Started.
        .triangle
        
    .step1
      .inner
        .step-header
          .step-number 1
          .step-question Who would you like to ask?