= form_for @response, url: create_response_path(@request.id, @request.response_key) do |f|

  = f.label :status
  = f.select :status, all_statuses
  
  = f.label :body
  = f.text_area :body
  
  = submit_tag "Send Response!"