!!!
%html
  /[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  /[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
  /[if IE 8] <html class="no-js lt-ie9" lang="en">
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
    %meta{:charset => "utf-8"}
    %meta{:content => "", :name => "description"}
    / Mobile viewport optimized: h5bp.com/viewport
    %meta{:content => "width=device-width", :name => "viewport"}
  %body{"data-action" => action_name, "data-controller" => controller_name, "class" => "#{controller_name}-#{action_name}"}
    = render 'layouts/header'
    .container
      =yield
    = render 'layouts/footer'
    
    :javascript

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32566770-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
